<!DOCTYPE html>
{%load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracion</title>

    <style>
       
    </style>
</head>

<body>
    
    <div id="contenido">
        <div class="fotoUsuario">
            <div class="fotoUsuario">
                <img src="{% static "images/Cartujo.png" %}" width="50px" height="50px" style="border-radius: 50%;">
            </div>           
            <button type="button">Cambiar foto</button><br>
         
        </div>
        <br>
        <label for="fname">Nombre:</label>
        <input type="text" id="fname" name="fname" ><br><br>

        <label for="fname">Nombre de Usuario:</label>
        <input type="text" id="fname" name="fname" ><br><br>

        <label for="fname">Sitio Web:</label>
        <input type="text" id="fname" name="fname" ><br><br>

        <label for="fname">Correo electronico:</label>
        <input type="text" id="fname" name="fname" ><br><br>

        <label for="fname">Numero de Telefono:</label>
        <input type="text" id="fname" name="fname" ><br><br>

        <label for="fname">Sexo:</label>
        <input type="text" id="fname" name="fname" ><br><br>


        <div class="boton">
            <button type="button">Guardar</button>
        </div>
     </div>

</body>

</html>