<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>


</head>

<body>
    <div class="crearCuenta">
        <div class="fotoUsuario">
            
        </div>
        <div class="usuario">

            <!--{{ nombreUsuario_var }}-->
        </div>
        <div class="contraseña">
            <!--{{ contraseña_var}}-->
        </div>
    </div>
    <div>
        <input type="text" id="fname" name="fname" placeholder="Usuario o correo electronico"><br><br>
        
        <input type="password" id="fname" name="fname" placeholder="Contraseña"><br><br>
    </div>
    <div class="boton">
        <button type="button">Iniciar Sesión</button>
    </div>


    

</body>

</html>